
.weather-info{
  display: inline-block;
  padding: 20px;
  width: 350px;
  height: 300px;
  background: white;
  color: black;
  .weather-info_header{
    width: 100%;
    .weather-info_city{
      font-size: 30px;
    }
  }
  .weather-info_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    //grid-auto-rows: minmax(100px, auto);
    .weather-info_temperature{
      grid-column: 1;
      grid-row: 1 / -1;
      font-size: 50px;
    }
    .weather-info_humidity{
      grid-column: 2;
      grid-row: 1;
    }
    .weather-info_pressure{
      grid-column: 2;
      grid-row: 2;
    }
    .weather-info_wind{
      grid-column: 2;
      grid-row: 3;
    }
    .weather-info_clouds{
      grid-column: 3;
      grid-row: 1 / -1;
    }
  }
}