body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(../images/vikingland.jpg);
  background-repeat: no-repeat;
  background-color: #669f90;
  background-position: top;
  font-family: 'Open Sans', sans-serif;
}
  

.WeatherApp{
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  .WeatherApp-logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
  }
  .card{
    color: black;
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}